<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Laba_KPP</title>
</head>
<body>
    <div>
      <form action= "/kpp_labs" method="post">
          x +
          <input type="number" name="val1" value="0">
          =
          <input type="number" name="val2" value="0"><br>
          Начало интервала
          <input type="number" name="start" value="0"><br>
          Конец интервала
          <input type="number" name="end" value="0"><br>
          Корень
          <span th:text="${root}"/>
          <button type="submit" >Подобрать корень</button>
      </form>
    </div>
</body>
</html>